@import '../../variables';
@import '../../mixins';

@font-face {
  font-family: 'handwriting';
  src: url(../../assets/handwriting.ttf) format('truetype');
}

.say-something {
  width: auto;
  color: $primary-black;
  padding: $standard;
  text-align: center;
  // border: 2px solid $hot-pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

form {
  margin-top: 10px;
  width: 100%;
}

input {
  width: 100%;
  resize: vertical;
  padding: 10px;
  border: 1px solid $hot-pink;
  text-align: center;
  background-color: $primary-white;
  overflow: scroll;
  font-family: $default-font;
  &:focus {
    outline: none !important;
    border-color: $dark-pink;
    box-shadow: 0 0 5px $dark-pink;
  }
}

.post-item {
  font-family: 'handwriting', $default-font;
  font-size: 35px;
  color: $primary-black;
  padding: $standard;
  text-align: center;
  border: 1px solid $hot-pink;
  margin-top: 10px;
}

.submit-button {
  @include button($hot-pink, $primary-white);
}

.loading {
  font-family: 'handwriting', $default-font;
}
