@import '../../variables';
@import '../../mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $light-pink;
  font-family: $default-font;
}

header {
  color: $primary-black;
  background-color: $hot-pink;
  text-align: center;
  h1 {
    font-family: 'Ransom', $default-font;
    font-size: 4em;
  }
}

// #app {
//   margin-left: auto;
//   margin-right: auto;
//   display: flex inline-block;
//   flex-direction: column;
//   align-items: center;
//   align-content: center;
//   padding: $standard;
// }

.container {
  height: 90vh;
  margin-top: $standard * 2;
  margin-bottom: $standard * 2;
  display: flex;
  justify-content: space-evenly;
}

.burn-entries {
  background-color: $primary-white;
  overflow: scroll;
  border: 2px solid $hot-pink;
  margin: $standard;
  padding: $standard * 2;
  width: 50vw;
}
