@import '../../variables';
@import '../../mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $light-pink;
  font-family: $default-font;
  font-size: 18px;
  &.dark {
    background-color: $primary-black;
  }
}

header {
  color: $primary-black;
  background-color: $hot-pink;
  text-align: center;
  h1 {
    font-family: 'Ransom', $default-font;
    font-size: 4em;
  }
}

.container {
  padding: $standard * 2;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  text-align: center;

  .sidebar {
    margin: $standard;
    padding: $standard * 2;
    background-color: $primary-white;
    height: 80%;
    max-width: 400px;
    @include border($hot-pink);
  }

  .error {
    font-family: 'handwriting', $default-font;
    font-size: 2em;
    color: $primary-black;
    padding: $standard;
    text-align: center;
    border: 1px solid $hot-pink;
    margin: $standard * 2;
  }

  .burn-entries {
    background-color: $primary-white;
    overflow: scroll;
    margin: $standard;
    padding: $standard * 2;
    // width: 60vw;
    height: 100%;
    @include border($hot-pink);
  }

  button {
    display: inline-block;
    // @include button($hot-pink, $primary-white);
  }
}
