@import '../variables';

@font-face {
  font-family: 'handwriting';
  src: url(../assets/handwriting.ttf) format('truetype');
}

.say-something {
  width: auto;
  color: #22292f;
  padding: 5px;
  text-align: center;
  border: 2px solid $hot-pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

form {
  margin-top: 10px;
  width: 100%;
}

textarea {
  width: 100%;
  resize: vertical;
  padding: 10px;
  border: 1px solid $hot-pink;
  outline: none;
  text-align: center;
  background-color: $primary-white;
}

.post-item {
  font-family: 'handwriting', $default-font;
  font-size: 35px;
  color: #22292f;
  padding: 5px;
  text-align: center;
  border: 1px solid $hot-pink;
  margin-top: 10px;
}
