@import '../variables';

h4 {
  margin-top: 10px;
}

.remove-button {
  border: none;
  font-family: $default-font;
  font-size: 10px;
  font-weight: 100;
  color: $hot-pink;
  padding: 5px;
  background-color: $primary-white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.remove-button:hover {
  background-color: $primary-white;
  color: $hot-pink;
  border: 1px solid $hot-pink;
  padding: 4px;
  cursor: pointer;
}

input {
  border: 1px solid $hot-pink;
  padding: 5px;
  display: block;
}
