@import '../../variables';
@import '../../mixins';

p {
  padding: $standard;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 1;
  background-color: aqua;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.edit-button {
  @include button($hot-pink, $primary-white);
}

.delete-button {
  @include button($hot-pink, $primary-white);
}
