@use 'sass:color';

@font-face {
  font-family: 'Ransom';
  src: url(assets/Ransom.ttf) format('truetype');
}

@font-face {
  font-family: 'handwriting';
  src: url(assets/handwriting.ttf) format('truetype');
}

$title-font: 'Ransom', 'Futura', sans-serif;
$burn-font: 'handwriting', 'Futura', sans-serif;
$default-font: 'Futura', sans-serif;

// colors
$hot-pink: #ff0078;
$light-pink: #f2a0dc;
$medium-pink: #f266b3;
$dark-pink: #d93d76;
$darkest-pink: #8c0f31;
$red: #d92332;

$primary-white: #fffaff;
