@use 'sass:color';

// typography
$default-font: 'Futura', sans-serif;

$light: 200;
$normal: 400;
$semibold: 500;
$bold: 700;

// colors
$hot-pink: #ff0078;
$light-pink: #f2a0dc;
$medium-pink: #f266b3;
$dark-pink: #d93d76;
$darkest-pink: #8c0f31;
$red: #d92332;

$primary-white: #fcfafc;

$primary-black: #313131;
$dark-gray: #616161;
$secondary-gray: #919191;
$light-gray: #c2c2c2;

// numeric values
$standard: 5px;
