@import 'variables';

@font-face {
  font-family: 'Ransom';
  src: url(assets/Ransom.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $light-pink;
  font-family: $default-font;
  font-size: 18px;
}

header {
  color: #22292f;
  background-color: $hot-pink;
  text-align: center;
  margin-bottom: 5px;
}

h1 {
  font-family: 'Ransom', $default-font;
  font-size: 4em;
}

#app {
  background-color: $primary-white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex inline-block;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 5px;
}

.submit-button {
  border: none;
  font-family: $default-font;
  font-weight: 100;
  color: $primary-white;
  padding: 5px;
  background-color: $hot-pink;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.submit-button:hover {
  background-color: $primary-white;
  color: $hot-pink;
  border: 1px solid $hot-pink;
  padding: 4px;
  cursor: pointer;
}
