@font-face {
  font-family: 'Ransom';
  src: url(design/Ransom.ttf) format('truetype');
}

@font-face {
  font-family: 'handwriting';
  src: url(design/handwriting.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2a0dc;
  font-family: 'Futura', sans-serif;
  font-size: 18px;
}

header {
  color: #22292f;
  background-color: #ff0078;
  text-align: center;
  margin-bottom: 5px;
}

h1 {
  font-family: 'Ransom', 'Futura', sans-serif;
  font-size: 4em;
}

#app {
  background-color: #fff;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 5px;
}

.say-something {
  color: #22292f;
  padding: 5px;
  text-align: center;
  border: 1px solid #ff0078;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

form {
  margin-top: 10px;
  width: 100%;
}

textarea {
  width: 100%;
  resize: vertical;
  padding: 10px;
  border: 1px solid #ff0078;
  outline: none;
}

.post-item {
  font-family: 'handwriting', 'Futura', sans-serif;
  font-size: 30px;
  color: #22292f;
  padding: 5px;
  text-align: center;
  border: 1px solid #ff0078;
  margin-top: 10px;
}

button {
  border: none;
  font-family: 'Futura', sans-serif;
  font-weight: 100;
  color: #fff;
  padding: 5px;
  background-color: #ff0078;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

button:hover {
  background-color: #fff;
  color: #ff0078;
  border: 1px solid #ff0078;
  padding: 4px;
}

input {
  border: 1px solid #ff0078;
  padding: 5px;
  display: block;
}
