@font-face {
  font-family: 'Ransom';
  src: url(design/Ransom.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #393939;
  font-family: 'Futura', sans-serif;
  background-color: #fff;
}

/* header {
  font-family: 'Ransom', 'Futura', sans-serif;
  background-color: #c12267;
} */
