@font-face {
  font-family: 'Ransom';
  src: url(design/Ransom.ttf) format('truetype');
}

@font-face {
  font-family: 'handwriting';
  src: url(design/handwriting.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2a0dc;
  font-family: 'Futura', sans-serif;
  font-size: 18px;
}

header {
  background-color: #ff0078;
  text-align: center;
  margin-bottom: 5px;
}

h1 {
  font-family: 'Ransom', 'Futura', sans-serif;
  font-size: 4em;
}

#app {
  background-color: #fff;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 5px;
}

.say-something {
  padding: 5px;
  text-align: center;
  border: 1px solid #ff0078;
}

.post-item {
  font-family: 'handwriting', 'Futura', sans-serif;
  padding: 5px;
  text-align: center;
  border: 1px solid #ff0078;
  margin-top: 10px;
}
